@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <div class="menu-btn-wrap">
            <label for="menu-toggle" aria-hidden="true">Menu</label>
            <div id="menu-btn" class="close rotate">
                <span></span>
                <span></span>
                <span></span>
                <div></div>
                <input type="checkbox" id="menu-toggle" aria-label="dölj meny">
            </div>
        </div>
        <nav id="main-menu">
            <ul>
                <li><a asp-controller="Posts" asp-action="Index">Company®</a></li>
                <li><a asp-controller="Posts" asp-action="News">News</a></li>
                <li><a asp-controller="Posts" asp-action="Blog">Blog</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="footer-inner">
            <ul>
                <li>© 2021 Company®</li>
                <li>987 Brick Avenue</li>
                <li>567 76 Big City</li>
            </ul>
            <ul>
                <li><a href="mailto:axhe1901@student.miun.se">Send us an email</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            </ul>
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>



