@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>@*Hello @User.Identity.Name!*@
    </li>
    @*<li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </li>*@
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
@*</ul>*@
