@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav id="manage-menu">
    <ul>
        <li><a asp-page="./Index">Profile</a></li>
        <li><a asp-page="./Email">Email</a></li>
        <li><a asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li><a asp-page="./ExternalLogins">External logins</a></li>
        }
        <li><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li><a asp-page="./PersonalData">Personal data</a></li>
    </ul>
</nav>

