@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" />
                <span asp-validation-for="Input.Password"></span>
            </div>
        }
        <button class="main-button delete" type="submit">Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}