@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div>
                        <input asp-for="Email" disabled />
                        <div>
                            <span>✓</span>
                        </div>
                    </div>
                }
                 else
                {
                    <input asp-for="Email" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">Send verification email</button>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" />
                <span asp-validation-for="Input.NewEmail"></span>
            </div>
            <button type="submit" asp-page-handler="ChangeEmail" class="main-button">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
